header {
  background: #2e354f;
  padding: 45px 0;
  color: #fff;
}

section {
  padding: 45px 0;
}

.container {
  width: 75%;
  margin: 0 auto;
  border: 2px solid magenta;
  max-width: 800px;
}

button {
  padding: 1em 4em;
}

.card {
  background-color: #ffe100;
  color: black;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-small {
  font-size: 0.5rem;
}
